@model User

@{
    ViewData["Title"] = "Profile";
}
aa
<h2>User Profile</h2>

<div>
    <h5>Name: </h5>
    <p>@Model.FirstName @Model.LastName</p>
</div>
<div>
    <h5>Email: </h5>
    <p>@Model.Email</p>
</div>
<div>
    <h5>Date of Birth: </h5>
    <p>@Model.DateOfBirth.ToShortDateString()</p>
</div>
<div>
    <h5>Points: </h5>
    <p>@Model.numberOfPoints</p>
</div>
<div>
    <h5>Current Diagnosis: </h5>
    <p>@Model.currentDiagnosis</p>
</div>

<form asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
